@import '../../styles/vars';

.connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 7em;

    &__title {
        text-shadow: black 2px 2px 2px;
        font-family: 'Press Start 2P', cursive;
        font-size: 25px;
    }

    &__image{
        width: 200px;
    }

    // &__input {
    //     width: 100%;
    //     margin: 1.5em;
    //     height: 4em;
    //     border: solid white 1px;
    //     background: linear-gradient(90deg, rgba(223,39,69,1) 0%, rgba(191,4,110,1) 100%);
    //     border-radius: 10px;
    //     color: white;
    // }

    // &__input::placeholder {
    //     text-align: center;
    //     color: white;
    //     font-size: 2em;
    // }

    &__button {
        border: none;
        background: $zenikaGradient;
        color: white;
        font-size: 1.3em;
        border-radius: 10px;
        padding: .7em;
        width: 15em;
        margin: .5em;
        text-align: center;
        cursor: pointer;

        &nth:nth-child(1) {
            font-size: 1em;
        }
    }
}

@media (min-width: 800px) {
    .connexion {

        &__title {
            font-size: 50px;
        }

        &__image {
            width: 20em;
        }

        &__button {

        }

    }
}