@import '../../styles/vars';

.container__consultant {
    display: flex;
    padding-top: 3em;
    justify-content: center;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consultant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.consultant__picture {
    width: 7em;
    height: 7em;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 3em;
}

.consultant__name {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.consultant__firstName {
    background: linear-gradient(90deg, rgba(223,39,69,1) 0%, rgba(191,4,110,1) 100%);
    padding: .5em;
    border-radius: 10px;
    width: 8em;
    display: flex;
    align-items: center;
    font-size: 1.15em;
    font-weight: 700;
    text-shadow: black 2px 2px 2px;
    margin-bottom: 1.2em;

}

.consultant__lastName {
    background: linear-gradient(90deg, rgba(223,39,69,1) 0%, rgba(191,4,110,1) 100%);
    padding: .5em;
    border-radius: 10px;
    width: 8em;
    display: flex;
    align-items: center;
    font-size: 1.15em;
    font-weight: 700;
    text-shadow: black 2px 2px 2px;

}

.infos {
    background: linear-gradient(90deg, rgba(223,39,69,1) 0%, rgba(191,4,110,1) 100%);
    margin: 2em;
    padding: 1.3em;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 700;
    line-height: 2em;
    text-shadow: black 2px 2px 2px;
    position: relative;

}

.infos__modif {
    position: absolute;
    right: 1em;
    bottom: 1em;
    filter: drop-shadow(2px 2px 2px black);
}

.newMeetingPoint {
    border: none;
    background: linear-gradient(90deg, rgba(223,39,69,1) 0%, rgba(191,4,110,1) 100%);
    color: white;
    font-size: 1.3em;
    border-radius: 10px;
    padding: .5em;
    margin: 1.2em;
    cursor: pointer;
}

.trackingInfos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7em;
    border: white solid 1px;
    border-radius: 5px;
    width: 75%;
}

.tracking__urgent {
    background-color: #df2745;
    padding: .3em;
    height: 2em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: 700;
    margin: .3em;
}

.lastsMeetings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    margin-left: 3em;
    text-shadow: black 2px 2px 2px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0;
    padding-bottom: 1em;
}

.lastsMeetings__title {
    margin-top: 0;
    border: white 2px solid;
    padding: 1em;
    width: 100%;
    border-radius: 8px 8px 0 0;
    text-align: center;
    font-weight: 1.3em;
}

.lastsMeetings__infos {
    line-height: 2em;
    padding: 1em;
    margin: .5em;
    border-radius: 10px;
    background-color: #285899;
    width: 90%;
}
