@import '../../styles/vars';


.form {
    display: flex;
    flex-direction: column;
    width: 300px;

    &__title{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 900;
    }

    &__label {
        margin-top: 1em;
        margin-bottom: .5em;
    }

    &__input {
        background: $zenikaGradient;
        color: white;
        border: none;
        padding: 1em;
        border-radius: 10px;
    }

    &__select {
        background: $zenikaGradient;
        color: white;
        border: none;
        padding: 1em;
        border-radius: 10px;
    }

    &__comment{
        background: $zenikaGradient;
        color: white;
        border: none;
        padding: 1em;
        border-radius: 10px; 
    }

    &__button{
        border: none;
        background: $zenikaGradient;
        color: white;
        font-size: 1em;
        border-radius: 10px;
        padding: .5em;
        width: 5.5em;
        margin: .7em;
        cursor: pointer;
        align-self: center;
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    & a{
        align-self: center;
    }
}

@media (min-width: 800px) {
    .form {
        width: 600px;

        &__title {
            font-size: 40px;
        }

        &__button{
            font-size: 1.9em;
        }
    
    }
}