@import '../../styles/vars';

.header {
    background: $zenikaGradient;
    padding: .5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__image {
    height: 5em;
}
.header__title {
    text-shadow: black 2px 2px 2px;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
}

.header__button {
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    font-weight: 700;
    border: none;
    height: 4em;
    padding: 1.2em;
    border-radius: 50px;
    border-radius: 50px;
    color: white;
    border-radius: 17px;
    background: linear-gradient(145deg, #cc0476, #ac0463);
    box-shadow:  6px 6px 12px #82034b,
                 -6px -6px 12px #fc0591;
    text-shadow: black 2px 2px 2px;
    cursor: pointer;
}

.header__button:hover {
    border-radius: 17px;
    background: linear-gradient(145deg, #ac0463, #cc0476);
    box-shadow:  6px 6px 12px #82034b,
             -6px -6px 12px #fc0591;
            }