@import '../../styles/vars';

.header {
    background: $zenikaGradient;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
        height: 50px;
    }

    &__title {
        text-shadow: black 2px 2px 2px;
        font-size: 35px;
        margin: 0 40px;
    }

    &__button {
        font-family: 'Comfortaa', cursive;
        font-size: .9em;
        font-weight: 900;
        border: none;
        height: 40px;
        padding: .5em;
        border-radius: 50px;
        border-radius: 50px;
        color: #BF1D67;
        border-radius: 17px;
        background-color: white;
        cursor: pointer;
    }

    &__button:hover {
        border-radius: 17px;
        background: linear-gradient(145deg, #ac0463, #cc0476);
        box-shadow:  6px 6px 12px #82034b,
                 -6px -6px 12px #fc0591;
    }
    
}


@media (min-width: 800px) {
    .header {
        &__image {
            height: 100px;
        }

        &__title {
            font-size: 70px;
            margin: 0 400px;
        }

        &__button {
            font-size: 1.4em;
            height: 65px;
        }
    }
}