@import '../../styles/vars';

.container__newConsultant {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    margin-bottom: 2em;
}

@media (min-width: 800px) {
    .container__newConsultant {
        padding-top: 3em;
    }
}